<template>
    <modal @modal-close="handleClose">
        <form
            @submit.prevent="handleConfirm"
            slot-scope="props"
            class="bg-white rounded-lg shadow-lg overflow-hidden"
            style="width: 460px"
        >
        <div class="p-8 font-bold">
            <heading :level="2">{{ __('Add Part') }}</heading>
        </div>

        <div class="text-80 px-8">
            <label>Select Part</label>
            <v-select 
                class="style-chooser"
                label="select_label"
                v-model = "form.part" 
                :options="parts">
            </v-select>
        </div>

        <div class="text-80 px-8" style="margin-top: 20px; margin-bottom: 40px">
            <label>Quantity</label>
            <input v-model="form.qty" type="number" class="w-full form-control form-input form-input-bordered" required>
        </div>

        <div class="bg-30 px-6 py-3 flex">
            <div class="ml-auto">
                <button type="button" data-testid="cancel-button" dusk="cancel-general-button" @click.prevent="handleClose" class="btn text-80 font-normal h-9 px-3 mr-3 btn-link">{{__('Cancel')}}</button>
                <button id="confirm-delete-button" ref="confirmButton" data-testid="confirm-button" type="submit" class="btn btn-default btn-primary">{{ __('Add Part') }}</button>
            </div>
        </div>
        </form>
    </modal>
</template>

<script>
    import 'vue-select/dist/vue-select.css';

    export default {
        name: "PartModal",
        props: {
            parts: {
                type: Array,
                default: null
            },
            tableId: {
                type:Number,
                default: 0
            },
            forEdit: {
                type: Object,
                default: null
            },
            partIndex: {
                type: Number,
                default: null
            }
        },
        watch: {
            forEdit: {
                immediate: true,
                deep: true,
                handler(newValue, oldValue) {
                    if(newValue) {
                        const part = this.parts.filter(x => x.id === newValue.part.id);
                        this.form.qty = newValue.qty;
                        this.form.part = part[0];
                        this.type = 'edit';
                    } else {
                        this.type = 'create';
                    }
                }
            }
        },
        methods: {
            handleClose() {
                this.$emit('close')
            },

            handleConfirm() {
                const datas = {
                    form : {
                        qty: this.form.qty,
                        part: this.form.part
                    },
                    table: this.tableId,
                    type: this.type,
                    partIndex: this.partIndex
                }
                this.$emit('confirm', datas)
            },

            handleSearch (e) {
                if (!this.form.qty) {
                    return
                }

                location.href = `${this.config.baseURL}/search?query=${this.navSearch}`
            }
        },
        data () {
            return {
                type: '',
                form : {
                    qty: '',
                    part: {}
                }
            }
        },
        mounted() {
            this.$refs.confirmButton.focus()
        },
    }
</script>

<style>
    .style-chooser .vs__search::placeholder,
    .style-chooser .vs__dropdown-toggle,
    .style-chooser .vs__dropdown-menu {
        background: #ffffff;
        border: 1px solid #bacad6;
        color: #394066;
        text-transform: lowercase;
        font-variant: small-caps;
        max-height: 80px !important;
    }

    .style-chooser .vs__clear,
    .style-chooser .vs__open-indicator {
        fill: #394066;
    }
</style>