<template>
    <div class="relative">
        <form autocomplete="off">
            <div class="mb-8">
                <h1 class="mb-3 text-90 font-normal text-2xl">Out Part</h1> 
                <div class="card">
                    <div class="flex border-b border-40" via-resource="" via-resource-id="" via-relationship="">
                        <div class="w-1/5 px-8 py-6">
                            <label for="qty" class="inline-block text-80 pt-2 leading-tight">
                                Reciept ID
                            </label>
                        </div>
                        <div class="py-6 px-8 w-1/2">
                            <input v-model="form.receipt_id" type="text" class="w-full form-control form-input form-input-bordered" readonly>
                            <div class="help-text help-text mt-2"></div>
                        </div>
                    </div>
                    <div class="flex border-b border-40" via-resource="" via-resource-id="" via-relationship="">
                        <div class="w-1/5 px-8 py-6">
                            <label for="part_number" class="inline-block text-80 pt-2 leading-tight">
                                Reciept Header
                            </label>
                        </div>
                        <div class="py-6 px-8 w-1/2">
                            <ckeditor type="classic" v-model="form.header" :config="editorTool"></ckeditor>
                            <div class="help-text help-text mt-2"></div>
                        </div>
                    </div>
                    <div class="flex border-b border-40 remove-bottom-border" via-resource="" via-resource-id="" via-relationship="">
                        <div class="w-1/5 px-8 py-6">
                            <label for="description" class="inline-block text-80 pt-2 leading-tight">
                                Order Table
                            </label>
                            <div class="py-3 flex items-center">
                                <button @click="addTable()" type="button" class="btn btn-default btn-primary inline-flex items-center relative mr-3" dusk="create-and-add-another-button">
                                    <span class="">
                                        Add Table
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="py-6 px-8 w-4/5">
                            <div v-for="(table, index) in form.tables" :key="index" class="overflow-hidden overflow-x-auto relative">
                                <table cellpadding="0" cellspacing="0" data-testid="resource-table" class="table w-full">
                                    <thead>
                                        <tr>
                                            <th class="text-left">
                                                <span class="cursor-pointer inline-flex items-center">
                                                    ITEM
                                                </span>
                                            </th>
                                            <th class="text-left">
                                                <span class="cursor-pointer inline-flex items-center">
                                                    QTY
                                                </span>
                                            </th>
                                            <th class="text-left">
                                                <span class="cursor-pointer inline-flex items-center">
                                                    PART NUMBER
                                                </span>
                                            </th>
                                            <th class="text-left">
                                                <span class="cursor-pointer inline-flex items-center">
                                                    DESCRIPTION
                                                </span>
                                            </th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="4">
                                                For: <b class="font-bold">{{ table.for }}</b>
                                            </td>
                                            <td colspan="1" class="text-right">
                                                <span>
                                                    <a @click="editName(index, table.for)" class="cursor-pointer text-70 hover:text-primary mr-3">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" aria-labelledby="edit" role="presentation" class="fill-current">
                                                            <path d="M4.3 10.3l10-10a1 1 0 0 1 1.4 0l4 4a1 1 0 0 1 0 1.4l-10 10a1 1 0 0 1-.7.3H5a1 1 0 0 1-1-1v-4a1 1 0 0 1 .3-.7zM6 14h2.59l9-9L15 2.41l-9 9V14zm10-2a1 1 0 0 1 2 0v6a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4c0-1.1.9-2 2-2h6a1 1 0 1 1 0 2H2v14h14v-6z"></path>
                                                        </svg>
                                                    </a>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr v-for="(part, itemObjKey) in table.parts" :key="part.partId" dusk="1-row">
                                            <td class="w-16">
                                                <div class="text-left text-left" via-resource="" via-resource-id="">
                                                    <span class="whitespace-no-wrap">{{ itemObjKey+1 }}</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="text-left text-left" via-resource="" via-resource-id="">
                                                    <span class="whitespace-no-wrap">{{ part.qty }}</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="text-left text-left" via-resource="" via-resource-id="">
                                                    <span class="whitespace-no-wrap">{{ part.part.part_number }}</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="text-left text-left" via-resource="" via-resource-id="">
                                                    <span class="whitespace-no-wrap">{{ part.part.description }}</span>
                                                </div>
                                            </td>
                                            <td class="td-fit text-right pr-6">
                                                <span>
                                                    <a @click="openModal(index, part, itemObjKey)" class="cursor-pointer text-70 hover:text-primary mr-3">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" aria-labelledby="edit" role="presentation" class="fill-current">
                                                            <path d="M4.3 10.3l10-10a1 1 0 0 1 1.4 0l4 4a1 1 0 0 1 0 1.4l-10 10a1 1 0 0 1-.7.3H5a1 1 0 0 1-1-1v-4a1 1 0 0 1 .3-.7zM6 14h2.59l9-9L15 2.41l-9 9V14zm10-2a1 1 0 0 1 2 0v6a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4c0-1.1.9-2 2-2h6a1 1 0 1 1 0 2H2v14h14v-6z"></path>
                                                        </svg>
                                                    </a>
                                                </span>
                                                <a @click="deletePart(itemObjKey, index)" class="appearance-none cursor-pointer text-70 hover:text-danger mr-3">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" aria-labelledby="delete" role="presentation" class="fill-current">
                                                        <path fill-rule="nonzero" d="M6 4V2a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2h5a1 1 0 0 1 0 2h-1v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6H1a1 1 0 1 1 0-2h5zM4 6v12h12V6H4zm8-2V2H8v2h4zM8 8a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V9a1 1 0 0 1 1-1zm4 0a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V9a1 1 0 0 1 1-1z"></path>
                                                    </svg>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="py-3 flex items-center">
                                    <button @click="openModal(index, null, null)" type="button" class="px-2 py-1 ml-auto btn rounded btn-primary inline-flex items-center relative mr-3">
                                        <span class="text-sm">
                                            Add Part
                                        </span>
                                    </button>
                                    <a @click="removeTable(index)" class="cursor-pointer px-2 py-1 btn rounded btn-danger inline-flex items-center relative">
                                        <span class="text-sm">
                                            Remove Table
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex border-b border-40" via-resource="" via-resource-id="" via-relationship="">
                        <div class="w-1/5 px-8 py-6">
                            <label for="part_number" class="inline-block text-80 pt-2 leading-tight">
                                Note
                            </label>
                        </div>
                        <div class="py-6 px-8 w-3/4">
                            <ckeditor type="classic" v-model="form.footer" :config="editorTool"></ckeditor>
                            <div class="help-text help-text mt-2"></div>
                        </div>
                    </div>
                    <div class="flex border-b border-40" via-resource="" via-resource-id="" via-relationship="">
                        <div class="w-1/5 px-8 py-6">
                            <label for="qty" class="inline-block text-80 pt-2 leading-tight">
                                Prepared By: 
                            </label>
                        </div>
                        <div class="py-6 px-8 w-1/2">
                            <select v-model="form.prepared" class="w-full form-control form-select">
                                <option value="" selected="selected" disabled="disabled">Choose an option</option>
                                <option v-for="user in users" :value="user.id">{{user.name}}</option>
                            </select>
                            <div class="help-text help-text mt-2">  </div>
                        </div>
                    </div>
                    <div class="flex border-b border-40" via-resource="" via-resource-id="" via-relationship="">
                        <div class="w-1/5 px-8 py-6">
                            <label for="qty" class="inline-block text-80 pt-2 leading-tight">
                                Verified By: 
                            </label>
                        </div>
                        <div class="py-6 px-8 w-1/2">
                            <select v-model="form.verified" class="w-full form-control form-select">
                                <option value="" selected="selected" disabled="disabled">Choose an option</option>
                                <option v-for="user in users" :value="user.id">{{user.name}}</option>
                            </select>
                            <div class="help-text help-text mt-2">  </div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="flex items-center">
                <a @click="back()" tabindex="0" class="btn btn-link dim cursor-pointer text-80 ml-auto mr-6">
                    Cancel
                </a>
                <a @click="outPartCreate()" class="btn btn-default btn-primary inline-flex items-center relative mr-3">
                    <span class="">
                        Create
                    </span>
                </a>
                <button type="button" class="btn btn-default btn-primary inline-flex items-center relative" dusk="create-and-add-another-button">
                    <span class="">
                        Create And Print
                    </span>
                </button>
            </div>
        </form>
        <div>
            <portal to="modals">
                <transition name="fade">
                    <part-modal
                        v-if="modalOpen"
                        @confirm="confirmModal"
                        @close="closeModal"
                        :parts="parts"
                        :tableId="selectedTable"
                        :forEdit="forEdit"
                        :partIndex="partIndex"
                    />
                </transition>
            </portal>
        </div>
    </div>
</template>

<script>
import { Errors } from 'laravel-nova'
import PartModal from '../PartModal.vue';
import 'vue-select/dist/vue-select.css';

export default {
    components: {
        PartModal
    },
    props: ["resourceName", "resourceId", "field"],
    data () {
        return {
            modalOpen: false,
            errors: new Errors,
            selectedTable:'',
            parts: {},
            users: [],
            forEdit: null,
            partIndex: null,
            form: {
                receipt_id: '',
                header:'',
                tables: [],
                footer:'',
                prepared:'',
                verified:'',
            },
            editorTool: {
                fontSize: {
                    options: [
                        'tiny',
                        'default',
                        'big'
                    ]
                },
            toolbar: [ 'heading', 'bold', 'italic', 'fontSize' ]
            }   
        }
    },
    methods: {
        back() {
            this.$router.push("/out-part");
        },

        async outPartCreate() {
            const response = await Nova.request().post(`/out-part`, this.form);
        },

        deletePart(index, table) {
            this.$swal({
                title: 'Remove Part?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, remove it!'
            }).then((result) => {
                if (result.value) {
                    this.form.tables[table].parts.splice(index, 1);
                    this.$toasted.show('part removed.', { type: 'success' })
                }
            })
        },

        editName(table, name) {
            this.$swal({
                title: `Rename ${name} table to`,
                input: 'text',
                inputAttributes: {
                    autocapitalize: 'off'
                },
                showCancelButton: true,
                confirmButtonText: 'Add Table',
                showLoaderOnConfirm: true,
                preConfirm: (rename) => {
                    this.form.tables[table].for = rename
                    this.$toasted.show('Table successfuly renamed.', { type: 'success' })
                }
            })
        },

        removeTable (index) {
            this.$swal({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    this.form.tables.splice(index, 1);
                    this.$toasted.show('Table deleted.', { type: 'success' })
                }
            })
        },

        addTable () {
            this.$swal({
                title: 'Table For?',
                input: 'text',
                inputAttributes: {
                    autocapitalize: 'off'
                },
                showCancelButton: true,
                confirmButtonText: 'Add Table',
                showLoaderOnConfirm: true,
                preConfirm: (name) => {
                    const newTable = {
                                for: name,
                                active: true,
                                parts : []
                            }
                    this.form.tables.push(newTable);
                    this.$toasted.show('Table added.', { type: 'success' })
                }
            })
        },

        async generateTrackId() {
            const response = await Nova.request().get(`/generate-id`);
            this.form.receipt_id = response.data
        },
        
        async getParts() {
            const response = await Nova.request().get(`/parts`);
            this.parts= response.data.data
        },

        async getUsers() {
            const response = await Nova.request().get(`/users`);
            this.users = response.data.data
        },

        openModal(tableId, part, index) {
            if(part) {
                this.forEdit = part;
                this.partIndex = index;
            } else {
                this.forEdit = null;
                this.partIndex = null;
            }

            this.selectedTable = tableId;
            this.modalOpen = true;
        },

        confirmModal(modalData) {
            if(modalData.type === 'create') {
                const datas = {
                    partId: modalData.form.part.id,
                    qty: modalData.form.qty,
                    part: modalData.form.part,
                }
                this.form.tables[modalData.table].parts.push(datas);
            } else {
                const datas = {
                    partId: modalData.form.part.id,
                    qty: modalData.form.qty,
                    part: modalData.form.part,
                }
                this.form.tables[modalData.table].parts[modalData.partIndex] = datas;
            }
            this.modalOpen = false;
        },

        closeModal() {
            this.modalOpen = false;
        },

        async getUsers() {
            const response = await Nova.request().get('/users')
            this.users = response.data.data
        },

    },
    created() {
        this.generateTrackId();
        this.getParts();
        this.getUsers();
    },
}
</script>

<style>
    .style-chooser .vs__search::placeholder,
    .style-chooser .vs__dropdown-toggle,
    .style-chooser .vs__dropdown-menu {
        background: #ffffff;
        border: 1px solid #bacad6;
        color: #3c4b5f;
        text-transform: lowercase;
        font-variant: small-caps;
        max-height: 80px !important;
    }

    .style-chooser .vs__clear,
    .style-chooser .vs__open-indicator {
        fill: #3c4b5f;
    }
</style>
